<h1>Pichandling#set</h1>
<p>Find me in app/views/pichandling/set.html.erb</p>
<%=@u.inspect%>
<br>

<%=@u.inspect%>
<%= form_tag( {controller: 'pichandling', action: 'update' } , method: 'get') do |f| %> 
 

    <%= label_tag :avatar %><br />
    <%= file_field_tag :avatar %>
  
    <%= submit_tag %>
  
  <%end%>
  <br>
  <%=@p.inspect%><br>
  <%= text_field_tag :x %><%=submit_tag "Go"%>